@import url('https://fonts.cdnfonts.com/css/inclusive-sans-2');
@import url('https://fonts.cdnfonts.com/css/bebas-neue');

/* Contenedor principal */
.containerrmp {
    padding: 20px;
}

/* Contenedor de contenido principal */
.contentmp {
    max-width: 1200px;
    margin: 0 auto;
}

/* Contenedor de contenido principal */
.contentprin {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tituloP{
    text-align: center;
    color: #F2F2F2;
    text-transform: uppercase;
    margin-top: 90px;
    font-family: 'Bebas Neue', sans-serif;
    font-size:75px;                                                                                      
}

.tituloP::after {
    content: "";
    display: block;
    width: 20%;
    height: 2px;
    background: red;
    margin: 0 auto;
    margin-top: 10px;
  }

/*contenedor banner*/
.textSearch{
    text-align: center;
    color: #F2F2F2;
    text-transform: uppercase;
    margin-top: 90px;
    font-family: 'Bebas Neue', sans-serif;
    font-size:50px; 
}
.viewtrailer{
    min-height: 700px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
}
.banner-container {
    position: relative;
    height: 70vh; 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-content {
    z-index: 1;
    text-align: center;
    padding: 20px;
}
/*información del banner */
.banner-content h1 {
    color: #ffffff; 
    font-family: 'Bebas Neue', sans-serif; 
    font-size: 50px; 
    margin-bottom: 1rem;
}

.banner-content p {
    color: #f0ebeb; 
    font-family: 'Inclusive Sans', sans-serif;
    font-size: 20px;
    line-height: 1.5; 
    max-width: 800px; 
    margin: 0 auto; 
}

/* Contenedor de imagenes */
.containerTextP {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    font-size: 'Bebas Neue', sans-serif;;
}

.textTitulo{
    color: #ffffff; 
    font-family: 'Inclusive Sans', sans-serif;
    font-size: 18px; 
    margin-bottom: 1rem;
}

/* Tarjetas de película */
.movie-cardPeli {
    display: flex;
    flex-direction: column;
    border: 1px solid #5f5757;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s;
    background-color: #000000;
    color: #ffffff;
}

.movie-cardPeli:hover {
    transform: scale(1.05);
}

/* Imagen de la película */
.movie-cardPeli img {
    width: 100%;
    height: auto;
    border-bottom: 3px solid #a80303;
}

/* Título de la película */
.movie-cardPeli h4 {
    text-align: center;
    padding: 10px;
    margin: 0;
    background-color: #000000;
    border-top: 1px solid #a80303;
}

/* Estilos para el formulario de búsqueda */
form.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* Entrada de texto para búsqueda */
.search-input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    flex: 1;
    max-width: 300px;
}

/* Botón de búsqueda */
.search-button {
    padding: 10px 20px;
    background-color: #b80808;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #640d0d;
}
