/* segundopage.css */
.pricing-page {
  text-align: center;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.tituloTienda {
  text-align: center;
  color: #F2F2F2;
  text-transform: uppercase;
  margin-top: 90px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 75px;
}

.tituloTienda::after {
  content: "";
  display: block;
  width: 42%;
  height: 2px;
  background: red;
  margin: 0 auto;
  margin-top: 10px;
}

.card-container {
  display: flex;
  justify-content: space-between; /* Distribuye las tarjetas horizontalmente */
}

.plan-container {
  display: flex;
  justify-content: space-around; /* Centra los planes horizontalmente */
  margin-top: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  width: calc(33% - 20px); /* Ajustamos el ancho para que haya margen entre las tarjetas */
  margin: 10px;
}

.card:hover {
  transform: scale(1.05);
}

.imgTienda {
    width: 100%;
    height: 65%;
    border-bottom: 3px solid #a80303;
}

.container {
  padding: 2px 16px;
}

.subtituloCombo{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 40px;
  color: #fff;
}

.description {
  font-style: italic;
  color: #dfd3d3;
}

.price {
  font-weight: bold;
  color: #dfd3d3;
}

.btnTienda {
  background-color: #222222;
  color: #fff;
  border: 1px solid  #ffffff;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnTienda:hover {
  background-color: #A60303;
}
